<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="factoryBean"
          class="springhw.beans.factoryBean"
          scope="singleton">
    </bean>

    <bean id="firstBean"
          class="springhw.beans.HelloBean"
          scope="prototype"
          factory-method="createBean"
          factory-bean="factoryBean">
        <constructor-arg value="Spring - это интересно!"/>
    </bean>

    <bean id="printerBean"
          class="springhw.beans.Printer"
          scope="singleton"
          factory-method="createPrint"
          factory-bean="factoryBean">
    </bean>

</beans>